
<div class="row">
    <h2 class="text-center my-2 py-2">SÁCH BÁN CHẠY - NGUYỄN VĂN A</h2>
</div>
<div class="row ">
    <div class="col-12 col-sm-6 col-md-4 my-2 my-md-0">
        <div class="item ">
            <div class="img">
            <img src="images/books/1.jpg" alt="1" class="w-100" />
            </div>
            <div class="item-content flex-column ">
                <h4 class="text-center pt-2">
                    <a href="#" class="d-block text-white">
                        Kung Fu Panda
                    </a>
                </h4>
                <div class="text-yellow d-flex justify-content-between px-3 pb-2 w-100">
                    <span>$ 28.500</span> 
                    <span>Xuất bản: 2016</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 my-2 my-md-0">
        <div class="item ">
            <div class="img">
            <img src="images/books/2.jpg" alt="2" class="w-100" />
            </div>
            <div class="item-content flex-column ">
                <h4 class="text-center pt-2">
                    <a href="#" class="d-block text-white">
                        Vui buồn trong hộp
                    </a>
                </h4>
                <div class="text-yellow d-flex justify-content-between px-3 pb-2 w-100">
                    <span>$ 28.500</span> 
                    <span>Xuất bản:  2016</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 my-2 my-md-0">
        <div class="item ">
            <div class="img">
            <img src="images/books/3.jpg" alt="3" class="w-100" />
            </div>
            <div class="item-content flex-column ">
                <h4 class="text-center pt-2">
                    <a href="#" class="d-block text-white">
                        Mật Mã Champa - Phát Hành Dự Kiến
                    </a>
                </h4>
                <div class="text-yellow d-flex justify-content-between px-3 pb-2 w-100">
                    <span>$ 28.500</span> 
                    <span>Xuất bản: 2012</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 my-2 my-md-0">
        <div class="item ">
            <div class="img">
            <img src="images/books/4.jpg" alt="4" class="w-100" />
            </div>
            <div class="item-content flex-column ">
                <h4 class="text-center pt-2">
                    <a href="#" class="d-block text-white">
                        Shin - Cậu Bé Bút Chì
                    </a>
                </h4>
                <div class="text-yellow d-flex justify-content-between px-3 pb-2 w-100">
                    <span>$ 18.500</span> 
                    <span>Xuất bản: 2015</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 my-2 my-md-0">
        <div class="item ">
            <div class="img">
            <img src="images/books/5.jpg" alt="4" class="w-100" />
            </div>
            <div class="item-content flex-column ">
                <h4 class="text-center pt-2">
                    <a href="#" class="d-block text-white">
                        Đường Đến Thành Công Của Jack Ma
                    </a>
                </h4>
                <div class="text-yellow d-flex justify-content-between px-3 pb-2 w-100">
                    <span>$ 58.500</span> 
                    <span>Xuất bản: 2015</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 my-2 my-md-0">
        <div class="item ">
            <div class="img">
            <img src="images/books/6.jpg" alt="6" class="w-100" />
            </div>
            <div class="item-content flex-column ">
                <h4 class="text-center pt-2">
                    <a href="#" class="d-block text-white">
                        Chie - Cô Bé Hạt Tiêu
                    </a>
                </h4>
                <div class="text-yellow d-flex justify-content-between px-3 pb-2 w-100">
                    <span>$ 158.500</span> 
                    <span>Xuất bản: 2025</span>
                </div>
            </div>
        </div>
    </div>
</div>
