USE [master]

/****** Object:  Database [VanTai2512V1]    Script Date: 11/30/2025 10:37:01 PM ******/
CREATE DATABASE [VanTai2512V1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VanTai2512V1', FILENAME = N'D:\VanTai2512V1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VanTai2512V1_log', FILENAME = N'D:\VanTai2512V1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT

ALTER DATABASE [VanTai2512V1] SET COMPATIBILITY_LEVEL = 150

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VanTai2512V1].[dbo].[sp_fulltext_database] @action = 'enable'
end

ALTER DATABASE [VanTai2512V1] SET ANSI_NULL_DEFAULT OFF 

ALTER DATABASE [VanTai2512V1] SET ANSI_NULLS OFF 

ALTER DATABASE [VanTai2512V1] SET ANSI_PADDING OFF 

ALTER DATABASE [VanTai2512V1] SET ANSI_WARNINGS OFF 

ALTER DATABASE [VanTai2512V1] SET ARITHABORT OFF 

ALTER DATABASE [VanTai2512V1] SET AUTO_CLOSE OFF 

ALTER DATABASE [VanTai2512V1] SET AUTO_SHRINK OFF 

ALTER DATABASE [VanTai2512V1] SET AUTO_UPDATE_STATISTICS ON 

ALTER DATABASE [VanTai2512V1] SET CURSOR_CLOSE_ON_COMMIT OFF 

ALTER DATABASE [VanTai2512V1] SET CURSOR_DEFAULT  GLOBAL 

ALTER DATABASE [VanTai2512V1] SET CONCAT_NULL_YIELDS_NULL OFF 

ALTER DATABASE [VanTai2512V1] SET NUMERIC_ROUNDABORT OFF 

ALTER DATABASE [VanTai2512V1] SET QUOTED_IDENTIFIER OFF 

ALTER DATABASE [VanTai2512V1] SET RECURSIVE_TRIGGERS OFF 

ALTER DATABASE [VanTai2512V1] SET  DISABLE_BROKER 

ALTER DATABASE [VanTai2512V1] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 

ALTER DATABASE [VanTai2512V1] SET DATE_CORRELATION_OPTIMIZATION OFF 

ALTER DATABASE [VanTai2512V1] SET TRUSTWORTHY OFF 

ALTER DATABASE [VanTai2512V1] SET ALLOW_SNAPSHOT_ISOLATION OFF 

ALTER DATABASE [VanTai2512V1] SET PARAMETERIZATION SIMPLE 

ALTER DATABASE [VanTai2512V1] SET READ_COMMITTED_SNAPSHOT OFF 

ALTER DATABASE [VanTai2512V1] SET HONOR_BROKER_PRIORITY OFF 

ALTER DATABASE [VanTai2512V1] SET RECOVERY SIMPLE 

ALTER DATABASE [VanTai2512V1] SET  MULTI_USER 

ALTER DATABASE [VanTai2512V1] SET PAGE_VERIFY CHECKSUM  

ALTER DATABASE [VanTai2512V1] SET DB_CHAINING OFF 

ALTER DATABASE [VanTai2512V1] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 

ALTER DATABASE [VanTai2512V1] SET TARGET_RECOVERY_TIME = 60 SECONDS 

ALTER DATABASE [VanTai2512V1] SET DELAYED_DURABILITY = DISABLED 

ALTER DATABASE [VanTai2512V1] SET ACCELERATED_DATABASE_RECOVERY = OFF  

ALTER DATABASE [VanTai2512V1] SET QUERY_STORE = OFF

USE [VanTai2512V1]

/****** Object:  Table [dbo].[Chuyen]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Chuyen](
	[MaChuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaTuyen] [nvarchar](10) NULL,
	[SoXe] [nvarchar](20) NULL,
	[MaLaiXe] [int] NULL,
	[NgayGio] [datetime] NULL,
 CONSTRAINT [PK_Chuyen] PRIMARY KEY CLUSTERED 
(
	[MaChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[CongTy]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[CongTy](
	[MaCongTy] [nvarchar](10) NOT NULL,
	[TenCongTy] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](250) NULL,
	[Email] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](30) NULL,
	[Anh] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaXe] PRIMARY KEY CLUSTERED 
(
	[MaCongTy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DatVe]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[DatVe](
	[MaKhach] [varchar](10) NULL,
	[MaChuyen] [int] NULL,
	[SoVe] [int] NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[HanhKhach]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[HanhKhach](
	[MaKhach] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[CCCD] [varchar](20) NULL,
	[DienThoai] [varchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Anh] [nvarchar](50) NULL,
	[DiemTichLuy] [float] NULL,
	[MaLoai] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[LaiXe]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[LaiXe](
	[MaLaiXe] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[Anh] [nvarchar](50) NULL,
 CONSTRAINT [PK_LaiXe] PRIMARY KEY CLUSTERED 
(
	[MaLaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[LoaiKhach]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[LoaiKhach](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiKhach] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[LoaiXe]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[LoaiXe](
	[MaLoaiXe] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiXe] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiNhaXe] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[NavItems]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[NavItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NavName] [nvarchar](50) NULL,
	[NavNameVN] [nvarchar](100) NULL,
	[Link] [nvarchar](250) NULL,
 CONSTRAINT [PK_NavItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TinhThanh]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [nvarchar](10) NOT NULL,
	[TenTinhThanh] [nvarchar](100) NOT NULL,
	[VietTat] [nvarchar](5) NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Tuyen]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Tuyen](
	[MaTuyen] [nvarchar](10) NOT NULL,
	[TenTuyen] [nvarchar](50) NULL,
	[MaDiemDau] [nvarchar](10) NOT NULL,
	[MaDiemCuoi] [nvarchar](10) NOT NULL,
	[TrangThai] [bit] NULL,
	[KhoangCach] [int] NULL,
 CONSTRAINT [PK_Tuyen] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Xe]    Script Date: 11/30/2025 10:37:01 PM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[Xe](
	[SoXe] [nvarchar](20) NOT NULL,
	[MauXe] [nvarchar](50) NULL,
	[SoChoNi] [int] NULL,
	[MaLoaiXe] [int] NULL,
	[MaCongTy] [nvarchar](10) NULL,
	[Anh] [nvarchar](50) NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[SoXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

SET IDENTITY_INSERT [dbo].[Chuyen] ON 

INSERT [dbo].[Chuyen] ([MaChuyen], [MaTuyen], [SoXe], [MaLaiXe], [NgayGio]) VALUES (1, N'HB2HN', N'29T274.45', 1, CAST(N'2023-01-11T07:00:00.000' AS DateTime))
INSERT [dbo].[Chuyen] ([MaChuyen], [MaTuyen], [SoXe], [MaLaiXe], [NgayGio]) VALUES (2, N'HN2NB', N'29T187.34', 2, CAST(N'2023-01-11T09:00:00.000' AS DateTime))
INSERT [dbo].[Chuyen] ([MaChuyen], [MaTuyen], [SoXe], [MaLaiXe], [NgayGio]) VALUES (3, N'HN2NB', N'29B754.32', 3, CAST(N'2023-01-11T11:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Chuyen] OFF

INSERT [dbo].[CongTy] ([MaCongTy], [TenCongTy], [DiaChi], [Email], [DienThoai], [Anh]) VALUES (N'NX001PT', N'Phương Trang', N'277 Minh Khai, Hà Nội', N'pt@gmail.com', N'0913115764', N'nx1.jpg')
INSERT [dbo].[CongTy] ([MaCongTy], [TenCongTy], [DiaChi], [Email], [DienThoai], [Anh]) VALUES (N'NX002LG', N'Long Giang', N'111 Nguyễn Hiền, Nam Định', N'lg@gmail.com', N'0967123415', N'nx2.jpg')
INSERT [dbo].[CongTy] ([MaCongTy], [TenCongTy], [DiaChi], [Email], [DienThoai], [Anh]) VALUES (N'NX003HA', N'Hải Âu', N'01 Cầu Đất, Hải Phòng', N'ha@gmail.com', N'0978142345', N'nx3.jpg')

INSERT [dbo].[DatVe] ([MaKhach], [MaChuyen], [SoVe]) VALUES (N'KH001', 1, 10)
INSERT [dbo].[DatVe] ([MaKhach], [MaChuyen], [SoVe]) VALUES (N'KH001', 2, 5)
INSERT [dbo].[DatVe] ([MaKhach], [MaChuyen], [SoVe]) VALUES (N'KH001', 3, 7)

INSERT [dbo].[HanhKhach] ([MaKhach], [HoTen], [CCCD], [DienThoai], [Email], [Anh], [DiemTichLuy], [MaLoai]) VALUES (N'KH001', N'Nguyễn Văn An', N'031002098872', N'0987123429', N'kh1@gmail.com', N'kh1.jpg', 7.5, 3)
INSERT [dbo].[HanhKhach] ([MaKhach], [HoTen], [CCCD], [DienThoai], [Email], [Anh], [DiemTichLuy], [MaLoai]) VALUES (N'KH002', N'Trần Thị Bích', N'035124098321', N'0712054374', N'kh2@gmail.com', N'kh2.jpg', 5, 1)
INSERT [dbo].[HanhKhach] ([MaKhach], [HoTen], [CCCD], [DienThoai], [Email], [Anh], [DiemTichLuy], [MaLoai]) VALUES (N'KH003', N'Lê Hải Hà', N'021098645112', N'0964097126', N'kh3@gmail.com', N'kh3.jpg', 9, 3)

SET IDENTITY_INSERT [dbo].[LaiXe] ON 

INSERT [dbo].[LaiXe] ([MaLaiXe], [HoTen], [NgaySinh], [Anh]) VALUES (1, N'Nguyễn Minh Hà', CAST(N'1993-11-05' AS Date), N'dr1.jpg')
INSERT [dbo].[LaiXe] ([MaLaiXe], [HoTen], [NgaySinh], [Anh]) VALUES (2, N'Trần Văn Thành', CAST(N'1993-02-21' AS Date), N'dr2.jpg')
INSERT [dbo].[LaiXe] ([MaLaiXe], [HoTen], [NgaySinh], [Anh]) VALUES (3, N'Hà Nam Anh', CAST(N'1989-07-15' AS Date), N'dr3.jpg')
SET IDENTITY_INSERT [dbo].[LaiXe] OFF

SET IDENTITY_INSERT [dbo].[LoaiKhach] ON 

INSERT [dbo].[LoaiKhach] ([MaLoai], [TenLoai]) VALUES (1, N'Đơn lẻ')
INSERT [dbo].[LoaiKhach] ([MaLoai], [TenLoai]) VALUES (2, N'Đoàn')
INSERT [dbo].[LoaiKhach] ([MaLoai], [TenLoai]) VALUES (3, N'Trường học')
SET IDENTITY_INSERT [dbo].[LoaiKhach] OFF

SET IDENTITY_INSERT [dbo].[LoaiXe] ON 

INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (1, N'Taxi')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (2, N'Limousine')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (3, N'Cars-Express')
SET IDENTITY_INSERT [dbo].[LoaiXe] OFF

SET IDENTITY_INSERT [dbo].[NavItems] ON 

INSERT [dbo].[NavItems] ([Id], [NavName], [NavNameVN], [Link]) VALUES (1, N'Route', N'Tuyến', NULL)
INSERT [dbo].[NavItems] ([Id], [NavName], [NavNameVN], [Link]) VALUES (2, N'Provider', N'Nhà Xe', NULL)
INSERT [dbo].[NavItems] ([Id], [NavName], [NavNameVN], [Link]) VALUES (3, N'Operating', N'Khai Thác', NULL)
SET IDENTITY_INSERT [dbo].[NavItems] OFF

INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh], [VietTat]) VALUES (N'203', N'Quảng Ninh', N'QN')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh], [VietTat]) VALUES (N'208', N'Thái Nguyên', N'TNG')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh], [VietTat]) VALUES (N'218', N'Hòa Bình', N'HB')

INSERT [dbo].[Tuyen] ([MaTuyen], [TenTuyen], [MaDiemDau], [MaDiemCuoi], [TrangThai], [KhoangCach]) VALUES (N'HB2HN', N'Hòa Bình - Hà Nội', N'218', N'24', 1, 90)
INSERT [dbo].[Tuyen] ([MaTuyen], [TenTuyen], [MaDiemDau], [MaDiemCuoi], [TrangThai], [KhoangCach]) VALUES (N'HN2HP', N'Hà Nội - Hải Phòng', N'24', N'225', 1, 95)
INSERT [dbo].[Tuyen] ([MaTuyen], [TenTuyen], [MaDiemDau], [MaDiemCuoi], [TrangThai], [KhoangCach]) VALUES (N'HN2NB', N'Hà Nội - Ninh Bình', N'24', N'229', 1, 130)

INSERT [dbo].[Xe] ([SoXe], [MauXe], [SoChoNi], [MaLoaiXe], [MaCongTy], [Anh]) VALUES (N'14F393.39', N'Trắng', 9, 2, N'NX003HA', N'xe2.jpg')
INSERT [dbo].[Xe] ([SoXe], [MauXe], [SoChoNi], [MaLoaiXe], [MaCongTy], [Anh]) VALUES (N'16F190.56', N'Đỏ', 5, 1, N'NX004KH', N'xe9.jpg')
INSERT [dbo].[Xe] ([SoXe], [MauXe], [SoChoNi], [MaLoaiXe], [MaCongTy], [Anh]) VALUES (N'16L876.34', N'Đỏ', 16, 2, N'NX002LG', N'xe1.jpg')

ALTER TABLE [dbo].[Chuyen]  WITH CHECK ADD  CONSTRAINT [FK_Chuyen_LaiXe] FOREIGN KEY([MaLaiXe])
REFERENCES [dbo].[LaiXe] ([MaLaiXe])

ALTER TABLE [dbo].[Chuyen] CHECK CONSTRAINT [FK_Chuyen_LaiXe]

ALTER TABLE [dbo].[Chuyen]  WITH CHECK ADD  CONSTRAINT [FK_Chuyen_Tuyen] FOREIGN KEY([MaTuyen])
REFERENCES [dbo].[Tuyen] ([MaTuyen])

ALTER TABLE [dbo].[Chuyen] CHECK CONSTRAINT [FK_Chuyen_Tuyen]

ALTER TABLE [dbo].[Chuyen]  WITH CHECK ADD  CONSTRAINT [FK_Chuyen_Xe] FOREIGN KEY([SoXe])
REFERENCES [dbo].[Xe] ([SoXe])

ALTER TABLE [dbo].[Chuyen] CHECK CONSTRAINT [FK_Chuyen_Xe]

ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_Chuyen] FOREIGN KEY([MaChuyen])
REFERENCES [dbo].[Chuyen] ([MaChuyen])

ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_Chuyen]

ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_KhachHang] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[HanhKhach] ([MaKhach])

ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_KhachHang]

ALTER TABLE [dbo].[HanhKhach]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_LoaiKhach] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiKhach] ([MaLoai])

ALTER TABLE [dbo].[HanhKhach] CHECK CONSTRAINT [FK_KhachHang_LoaiKhach]

ALTER TABLE [dbo].[Tuyen]  WITH CHECK ADD  CONSTRAINT [FK_Tuyen_TinhThanh_DiemCuoi] FOREIGN KEY([MaDiemCuoi])
REFERENCES [dbo].[TinhThanh] ([MaTinhThanh])

ALTER TABLE [dbo].[Tuyen] CHECK CONSTRAINT [FK_Tuyen_TinhThanh_DiemCuoi]

ALTER TABLE [dbo].[Tuyen]  WITH CHECK ADD  CONSTRAINT [FK_Tuyen_TinhThanh_DiemDau] FOREIGN KEY([MaDiemDau])
REFERENCES [dbo].[TinhThanh] ([MaTinhThanh])

ALTER TABLE [dbo].[Tuyen] CHECK CONSTRAINT [FK_Tuyen_TinhThanh_DiemDau]

ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_CongTy] FOREIGN KEY([MaCongTy])
REFERENCES [dbo].[CongTy] ([MaCongTy])

ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_CongTy]

ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_LoaiXe] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])

ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_LoaiXe]

USE [master]

ALTER DATABASE [VanTai2512V1] SET  READ_WRITE 

