@model LTW_Day09Lab_CodeFirst.Models.TvcLoaiSanPham

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TvcLoaiSanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tvcId" />
            <div class="form-group">
                <label asp-for="tvcMaLoai" class="control-label"></label>
                <input asp-for="tvcMaLoai" class="form-control" />
                <span asp-validation-for="tvcMaLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tvcTenLoai" class="control-label"></label>
                <input asp-for="tvcTenLoai" class="form-control" />
                <span asp-validation-for="tvcTenLoai" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="tvcTrangThai" /> @Html.DisplayNameFor(model => model.tvcTrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
