

<div class="card-body p-4">            
    <!-- CardData Start -->
    <div class="table-responsive" data-simplebar>
        <table class="table table-borderless align-middle text-nowrap">
        <thead>
            <tr>
            <th scope="col">Chuyến xe</th>
            <th scope="col">Ngày</th>
            <th scope="col">Giờ</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>
                <div class="d-flex align-items-center">
                <div class="me-4">
                    <img
                    src="images/cars/xe1.jpg"
                    width="50"
                    class="rounded-circle"
                    alt=""
                    />
                </div>

                <div>
                    <h6 class="mb-1 fw-bolder">Hà Nội - Nam Định</h6>
                    <p class="fs-3 mb-0">29T-848.34</p>
                </div>
                </div>
            </td>
            <td>
                <p class="fs-3 fw-normal mb-0">1/1/2024</p>
            </td>
            <td>
                <p class="fs-3 fw-normal mb-0 text-success">
                09:00
                </p>
            </td>
            <td>
                <span>Edit|Delete</span>
            </td>
            </tr>

            <tr>
            <td>
                <div class="d-flex align-items-center">
                <div class="me-4">
                    <img
                    src="images/cars/xe2.jpg"
                    width="50"
                    class="rounded-circle"
                    alt=""
                    />
                </div>

                <div>
                    <h6 class="mb-1 fw-bolder">Hà Nội - Ninh Bình</h6>
                    <p class="fs-3 mb-0">30F-484.13</p>
                </div>
                </div>
            </td>
            <td>
                <p class="fs-3 fw-normal mb-0">2/2/2024</p>
            </td>
            <td>
                <p class="fs-3 fw-normal mb-0 text-success">
                11:00
                </p>
            </td>
            <td>
                <span>Edit|Delete</span>
            </td>
            </tr>

            <tr>
            <td>
                <div class="d-flex align-items-center">
                <div class="me-4">
                    <img
                    src="images/cars/xe3.jpg"
                    width="50"
                    class="rounded-circle"
                    alt=""
                    />
                </div>

                <div>
                    <h6 class="mb-1 fw-bolder">Hà Nội - Hải Phòng</h6>
                    <p class="fs-3 mb-0">29G-876.43</p>
                </div>
                </div>
            </td>
            <td>
                <p class="fs-3 fw-normal mb-0">3/3/2024</p>
            </td>
            <td>
                <p class="fs-3 fw-normal mb-0 text-success">
                11:00
                </p>
            </td>
            <td>
                <span>Edit|Delete</span>
            </td>
            </tr>

            <tr>
            <td>
                <div class="d-flex align-items-center">
                <div class="me-4">
                    <img
                    src="images/cars/xe4.jpg"
                    width="50"
                    class="rounded-circle"
                    alt=""
                    />
                </div>

                <div>
                    <h6 class="mb-1 fw-bolder">Hà Nội - Quảng Ninh</h6>
                    <p class="fs-3 mb-0">30F-475.33</p>
                </div>
                </div>
            </td>
            <td>
                <p class="fs-3 fw-normal mb-0">1/1/2024</p>
            </td>
            <td>
                <p class="fs-3 fw-normal mb-0 text-success">
                11:00
                </p>
            </td>
            <td>
                <span>Edit|Delete</span>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    <!-- CardData End -->
</div>