<header>
    <div class="container">
        <div class="d-flex justify-content-start align-items-center">
            <div class= "logo ">
                <a href="/">
                    <img src="images/logo-devmaster.png" alt="Devmaster Academy">
                </a>
            </div>
            <div class=" head-title">
                <h2>DEVMASTER ACADEMY</h2>
            </div>
        </div>
    </div>
</header>

@await Component.InvokeAsync("Navbar");