
<div class="d-flex">
    <label for="dstart" class="form-label pt-2 px-2">Group: </label>
    <select id="dstart" class="form-select bg-white" asp-items="@ViewBag.Tuyens">
    </select>            
</div>