CREATE DATABASE PmtBookStoreDB;
GO
USE PmtBookStoreDB
GO
CREATE TABLE Category(
	CategoryId int IDENTITY(1,1) NOT NULL,
	CategoryName nvarchar(100) NULL,
	PRIMARY KEY (CategoryId)
)
GO

CREATE TABLE Publisher(
	PublisherId int IDENTITY(1,1) NOT NULL,
	PublisherName nvarchar(200) NULL,
	Phone varchar(30) NULL,
	Address nvarchar(200) NULL,
	PRIMARY KEY (PublisherId)
)
GO
CREATE TABLE Book(
	BookId varchar(10) NOT NULL,
	Title nvarchar(200) NOT NULL,
	Author nvarchar(100) NULL,
	Release int NULL,
	Price float NULL,
	Description ntext NULL,
	Picture nvarchar(100) NULL,
	PublisherId int NULL,
	CategoryId int NULL,
	PRIMARY KEY (BookId)
)
GO
ALTER TABLE dbo.Book  WITH CHECK ADD FOREIGN KEY(CategoryId)
REFERENCES dbo.Category (CategoryId)
GO
ALTER TABLE dbo.Book  WITH CHECK ADD FOREIGN KEY(PublisherId)
REFERENCES dbo.Publisher (PublisherId)
GO

SET IDENTITY_INSERT dbo.Category ON 

INSERT dbo.Category (CategoryId, CategoryName) VALUES (1, N'Sách kinh tế')
INSERT dbo.Category (CategoryId, CategoryName) VALUES (2, N'Sách tin học')
INSERT dbo.Category (CategoryId, CategoryName) VALUES (3, N'Sách thiếu nhi')
SET IDENTITY_INSERT dbo.Category OFF
GO
SET IDENTITY_INSERT dbo.Publisher ON 

INSERT dbo.Publisher (PublisherId, PublisherName, Phone, Address) VALUES (1, N'Nhà xuất bản trẻ', N'098746533', N'Hà Nội')
INSERT dbo.Publisher (PublisherId, PublisherName, Phone, Address) VALUES (2, N'Nhà xuất bản kim đồng', N'096833435', N'Hà Nội')
INSERT dbo.Publisher (PublisherId, PublisherName, Phone, Address) VALUES (3, N'Nhà xuất bản tri thức', N'097987653', N'Hà Nội')
SET IDENTITY_INSERT dbo.Publisher OFF
GO
SET IDENTITY_INSERT dbo.Category ON 
INSERT dbo.Book (BookId, Title, Author, Release, Price, Description, Picture, PublisherId, CategoryId) VALUES (N'P63952', N'Kung Fu Panda', N'Ngọc Linh', 2016, 28500, N'chưa có mô tả', N'images/books/P63952.jpg', 2, 3)
INSERT dbo.Book (BookId, Title, Author, Release, Price, Description, Picture, PublisherId, CategoryId) VALUES (N'P67687', N'Vui buồn trong hộp', N'Đoàn Bảo Châu', 2015, 250000, N'chưa có mô tả', N'images/books/P67687.jpg', 1, 5)
INSERT dbo.Book (BookId, Title, Author, Release, Price, Description, Picture, PublisherId, CategoryId) VALUES (N'P67821', N'Mật Mã Champa - Phát Hành Dự Kiến', N'Giản Tư Hải', 2016, 113000, N'chưa có mô tả', N'images/books/P67821.jpg', 1, 5)
GO
