*{
    margin: 0;
    padding: 0;
}
html, body{
    font-size: 18px;
}
a{
    text-decoration: none;
}
.logo img{
    max-width: 10rem;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "UVNBaiSau_B";
    color: #05a742;
}

.bg-green{
    background-color: #05a742;
}
.navbar-brand{
    color:#fff600 ;
    font-weight: 700;
}
.nav-link{
    color:#fff;
}
.nav-link:hover{
     color:#fff600 ;
}
.item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .3s  ease-in;
    margin: .5rem 0;
}
.item {
    height: calc(100vw / 4);
}
#tcg-pro{
    background-color: #05a742;
}
.bg-image {
    background-color: #05a742;
    width: 100%;
}
#tvc-pro .item div.img {
        width: 100%;
        height: 75%;
}
#tcg-pro .item .item-content {
        width: 100%;
        /* height: 30%; */
}
.item-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: #05a742;
    height: 25%;
}
.item div.img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
}
div.img {
    display: block;
    overflow: hidden;
    object-fit: cover;
    transition: all .5s  ease;
}
.text-yellow{
    color: #fff600;
}
footer h4{
    color: #fff600;
    margin: 1rem 0 ;
}
footer ul{
    list-style: none;
}
footer a, footer span{
    color: #fff;
}